doctype html
html
  head
    extends ../layout
  body
block content
  h1 Welcome to the message page

  form(action="", method="post")
   label(for="name") name 
    input(type="text", name="name", id="name", placeholder="John Doe")
   br
   label(for="message") message 
    input(type="text", name="message", id="message", placeholder="message!")
   br
   button(type="button", id="post") post

   ul(id="list")

   script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
   script(src="/socket.io/socket.io.js")
   script(type="text/javascript", src="/javascripts/post.js")