<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digital Bar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load theme styles -->
        <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css" />

        <link rel="stylesheet" href="assets/css/styles.css" />
    </head>

    <body ng-app="imdApp" ng-controller="myController">
        <div class="container">
            <h1>Digital Bar</h1>

            <div class="center">
                <label for="name">Tell me, what is your name?</label>
                <input ng-model="myName" type="text" name="name"/>
                <p ng-if="myName">Hello {{myName}} , order some drinks!</p>
            </div>

            <div ng-if="myName" class="productsContainer">

                <div class="orderAdd">
                    <input type="text" placeholder="Zoek een product" ng-model="productSearch" />

                    <ul class="productList" >
                        <li ng-repeat="drink in drinks|filter:productSearch">
                            <span class="name">{{drink.name}}</span>
                            <amount-control amount="drink.quantity"></amount-control>
                            <small class="quantity">{{drink.quantity}}</small>
                        </li>
                    </ul>
                    <button class="action" ng-click="orderProduct()">Send your order</button>
                    <p ng-if="status.orderSend">Your order has been added!</p>
                </div>


                <div class="addProduct">
                    <label>Nieuw Product</label>
                    <div class="input-wrapper">
                        <input type="text" ng-model="product.name" placeholder="Productnaam" />
                    </div>
                    <button class="action" ng-click="adding()">Add product</button>
                </div>
            </div>
        </div>

        <!-- SCRIPTS ///////////////////////////////////////////////////// -->

        <!-- ANGULAR -->
        <script src="assets/bower_components/jquery/dist/jquery.js"></script>
        <script src="assets/bower_components/lodash/lodash.js"></script>
        <script src="assets/bower_components/angular/angular.js"></script>

        <!-- LOCAL SCRIPT-->
        <script>
            // Insert Angular magic here
            var app = angular.module('imdApp', []);
            

            app.controller('myController', function($scope, $http){

                $scope.product = {
                    name: ""
                };

                $http.get('http://imd.district01.be/product').
                    success(function(data, status, headers, config) {
                      $scope.drinks = data;
                      console.log(data);
                    }).error(function(data, status, headers, config) {
                      console.log("fail");
                    });


                //order products
                $scope.order = [{"username":"","created":"", "products":[{_id:"", name:"", qty:""}]}];

                $scope.orderProduct = function orderProduct(){

                    var data = _.filter($scope.drinks, function(drink) {
                        return drink.quantity > 0;
                    });

                    console.log("trying to order something");
                    console.log($scope.myName);

                    if(data.length > 0){
                        $http.post('http://imd.district01.be/order', {username: $scope.myName, products: data}).
                            success(function(data, status, headers, config) {
                              console.log("order send? yes");
                            }).error(function(data, status, headers, config) {
                              console.log("fail");
                        });
                    }

                }

                //adding product names

                $scope.newProduct = {name:""};

                $scope.adding = function () {
                    $http.post('http://imd.district01.be/product', $scope.product).
                        success(function(data, status, headers, config) {
                            console.log(data);
                        }).
                        error(function(data, status, headers, config) {
                            console.log("ma gast wtf");
                        });
                }                
            });


            // +1 en -1 via amount control

            app.directive('amountControl', function () {
                return {
                    restrict: 'EAC',
                    template: '<button ng-click="qty = qty +1">+</button><button ng-click="qty = qty -1">-</button>',
                    scope: {
                        qty: '=amount'
                    }
                };
            })
            
            // API URL: 'http://imd.district01.be'
            // PRODUCTS: 'http://imd.district01.be/product' (PUT - GET)
            // ORDER: 'http://imd.district01.be/order' (POST)
        </script>

    </body>

</html>
