container{
    display: block;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: "pt sans";
    background-color: #989CFF;
}

img{
    display: block;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}

h1{
    font-size: 30px;
    margin-bottom: 25px;
}

#title{
    padding: 25px;
}
#degrees{
    font-size: 45px;
    text-align: right;
}

#day{
    padding-bottom: 10px;
}

#min, #max{
    width: 50%;
    float: left;
}

#dayCSS, #degrees{
    width: 45%;
    float: left;
    font-weight: bold;
}

#dayCSS{
    text-align: left;
    padding-left: 5%;
}

#picture{
    clear: both;
}

#sum{
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    clear: both;
    padding-top: 25px;
    padding-bottom: 25px;
}